<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sense of Space A-Frame App by Andrei</title>
    <meta name="description" content="360&deg; Image Gallery - A-Frame">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/1.2.0/aframe.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
  </head>
  <body>
    <a-scene>
      <a-assets>
        <audio id="click-sound" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg"></audio>
        <img id="sechelt" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/sechelt.jpg">
      </a-assets>
      
      <a-sky id="image-360" radius="10" src="#sechelt"></a-sky>

      <a-entity text="value: UPLOAD IMAGE;
                      color: black;
                      align: center;
                      wrapCount: 15"
                position="0 0.1 -1"
                scale="0.5 0.5 1"
                class="button"
                id="upload"
                geometry="primitive: plane; height: auto; width: auto"
                material="color: gray"
                event-set__mouseenter="scale: 0.7 0.7 1"
                event-set__mouseleave="scale: 0.5 0.5 1"
                sound="on: click; src: #click-sound">
      </a-entity>
      
      <a-entity text="value: ADD WATERMARK;
                      color: black;
                      align: center;
                      wrapCount: 15"
                position="0 0 -1"
                scale="0.5 0.5 1"
                class="button"
                id="mark"
                geometry="primitive: plane; height: auto; width: auto"
                material="color: gray"
                event-set__mouseenter="scale: 0.7 0.7 1"
                event-set__mouseleave="scale: 0.5 0.5 1"
                sound="on: click; src: #click-sound">
      </a-entity>
    
      <a-entity text="value: VIEW GALLERY;
                      color: black;
                      align: center;
                      wrapCount: 15"
                position="0 -0.1 -1"
                scale="0.5 0.5 1"
                class="button"
                id="gallery"
                link="href: gallery; title: 360 Gallery"
                geometry="primitive: plane; height: auto; width: auto"
                material="color: gray"
                event-set__mouseenter="scale: 0.7 0.7 1"
                event-set__mouseleave="scale: 0.5 0.5 1"
                sound="on: click; src: #click-sound">
      </a-entity>
  
      <!-- Camera + cursor. -->
      <a-entity camera look-controls position="0 0 0">
        <a-cursor id="cursor"
                  animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
                  animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 1500"
                  event-set__mouseenter="_event: mouseenter; color: springgreen"
                  event-set__mouseleave="_event: mouseleave; color: black"
                  raycaster="objects: .button">
        </a-cursor>
      </a-entity>
    </a-scene>

    <form action="/addImageWatermark" method="POST" enctype="multipart/form-data">
      <input id="fileupload" type="file" name="image" />
      <button id="uploadbutton" type="submit"> Upload </button>
    </form>
  </body>
  <script src="js/home.js"></script>
</html>